[Desktop Entry]
Name=GPytage
Comment=GTK Utility to help manage Portage's user config files
Exec=gpytage
Type=Application
Categories=System,PackageManager;
Icon=gpytage-64x64
